# Python Bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
env/
*.env

# Coverage Reports
htmlcov/
.coverage
*.cover

# Docker-related Files
*.log
docker-compose.override.yml

# Local Development
*.sqlite3
instance/
*.bak

# OS Files
.DS_Store
Thumbs.db

# Editor/IDE Files
.vscode/
.idea/

# Dependency Logs
pip-log.txt
pip-delete-this-directory.txt

# Scrapy Caches
.scrapy/

# Build & Distribution
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Logs
*.log
nohup.out

# Testing
test_*.pyc
.pytest_cache/
nosetests.xml
coverage.xml
*.test

# Miscellaneous
*.tmp
*.lock

# Django-specific files
*.sqlite3
db.sqlite3
*.pyc
*.py[cod]
local_settings.py
media/
staticfiles/
.static/
.static_storage/
.media/
.media_storage/

# Django migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
**/migrations/*.log
**/migrations/*.sqlite3
**/migrations/*.py[cod]
**/migrations/*.db
**/migrations/*.tmp
**/migrations/*.lock

# Environment files
*.env
.env

# Celery beat schedule file
celerybeat-schedule

# Jupyter Notebooks
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/